@import "variables";
.note {
  opacity: .5;
  transition: .4s all;
  &:before {
    content: '* ';
    color: red;
  }
  &:hover {
    opacity: 1;
  }
}
[title] {
  border-bottom: 2px dotted gray;
  cursor: help;
}

h1, h2, h3, h4, h5, h6 {
  code {
    font-size: @small-font-size;
  }
}
#installing, #revert {
  font-size: @slide-font-size * 0.8;
}

#commit {
  font-size: @slide-font-size * 0.95;
}