@import "variables";
h1, h2, h3, h4, h5, h6 {
  margin: .5em 0;
}
h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.8em;
}
h4 {
  font-size: 1em;
  font-weight: bold;
  border-bottom: 1px solid @slide-font-color;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
ul ul {
  list-style-type: circle;
  margin-bottom: 1rem;
}
li {
  padding-left: 1rem;
  margin: .5rem 0 .5rem 2rem;
}
abbr {
  border-bottom: 4px dotted gray;
  cursor: help;
}
a {
  text-decoration: underline;
}
p {
  margin-bottom: 1rem;
}
small {
  font-size: @small-font-size;
}
code {
  font-family: 'Courier New', monospace;
  background-color: hsla(0, 0%, 50%, .2);
  padding: .25em;
  border-radius: 10px;
  line-height: 1.7em;
  word-break: keep-all;
  white-space: nowrap;
}